* {
    --primary: #ff1720;
    --secondary: #a39797;
    --third: #ffffff;
}

.promotion-badge {
    --sds-c-badge-color-background: var(--primary);
    --sds-c-badge-text-color: var(--third);
    --sds-c-badge-icon-color-foreground: var(--third);
}

.data-and-promotion > .slds-card__body {
    margin: 0;
}