* {
    --primary: #ff1720;
    --secondary: #a39797;
}

.navbar {
    background-color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: var(--secondary);
    --sds-c-icon-color-foreground-default: var(--secondary);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    /* background-color: #ddd; */
    color: var(--primary);
    --sds-c-icon-color-foreground-default: var(--primary);
}

.navbar a.active {
    color: var(--primary);
    --sds-c-icon-color-foreground-default: var(--primary);
}