* {
    --primary: #ff1720;
    --secondary: #a39797;
}
.c-button {
    padding: 10px;
}
.c-button button {
    min-height: 50px;
}
.c-header {
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.red {
    background-color: var(--primary);
}
.center {
    text-align: center;
    /* margin-top: -10vh; */
    padding-top: 5vh;
    font-size: 16px;
    width: 100%;
}